.env

authentification/__pycache__
classes/__pycache__
follow_your_barber/__pycache__
hair_salons/__pycache__
hairdressers/__pycache__
managers/__pycache__
users/__pycache__

authentification/migrations/__pycache__
classes/migrations/__pycache__
follow_your_barber/migrations/__pycache__
hair_salons/migrations/__pycache__
hairdressers/migrations/__pycache__
managers/migrations/__pycache__
users/migrations/__pycache__

table.sql
requirements.txt
